#Git will ignore all files within using any of these formats! Make sure to triple check before adding here

#ignore compiled code
*.o
*.out
*.pyc

#ignore MCPD output files (keeping input files for sample data)
*.dat

#ignore files used for testing in the ./Runs/ folder
Runs/*

#ignore OS file system bits
*.DS_Store

#ignore IDE bits
.vscode/*
